################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/build/.vs/JanusC/FileContentIndex/8be63944-9d16-4bae-a833-9c2323621d9b.vsidx
/build/.vs/JanusC/v17/Browse.VC.db
