################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/build/.vs/JanusC/FileContentIndex/999c1e89-7229-4d3b-93d2-889ac798c64a.vsidx
/build/.vs/JanusC/v17/Browse.VC.opendb
/build/.vs/JanusC/v17/Browse.VC.db-wal
/build/.vs/JanusC/v17/Browse.VC.db-shm
/build/.vs/JanusC/v17/Browse.VC.db
