################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/build/.vs/JanusC/FileContentIndex/999c1e89-7229-4d3b-93d2-889ac798c64a.vsidx
